@keyframes DisplayFrame {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: inherit;
}

*::selection {
	color: #FFF;
	background: #ED784A;
}

input {
	background: rgba(0, 0, 0, 0);
}

a {
	color: #ED784A;
	font-weight: 900;
	text-decoration: underline;
}

body {
	font-family: Bahnschrift, sans-serif;
}

button {
	display: inline-block;
	position: relative;
	width: auto;
	margin: 10px;
	min-width: 50px;
	height: 40px;
	padding: 0 25px;
	font-size: 20px;
	font-weight: 900;
	border-radius: 20px;
	background: #FFF;
	line-height: 40px;
	outline: none;
	cursor: pointer;
	border: none;
	box-shadow: 0px 2px 5px #CCC;

	transition: all 200ms ease;
	-webkit-transition: all 200ms ease;
}
	button.action {
		color: #ED784A;
	}
		button.action:hover {
			color: #FFF;
			background: #ED784A;
			box-shadow: 0px 2px 5px #AAA;
		}
	button.severe {
		color: #FFF;
		background: #FF6666;
	}
		button.severe:hover {
			background: #FF3333;
		}

.nav {
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	border-bottom: 2px solid #DDD;
	box-shadow: 0px 0px 10px #DDD;
	background: rgba(255, 255, 255, 0.9);

	backdrop-filter: blur(20px) saturate(180%);
	-webkit-backdrop-filter: blur(20px) saturate(180%);

	z-index: 999;
}
	.nav-links {
		position: absolute;
		display: block;
		padding-right: 30px;
		right: 0;
		top: 0;
		height: 50px;
		width: auto;
		max-width: 100%;
		overflow-x: auto;
		white-space: nowrap;
	}
	.nav-item {
		position: relative;
		display: inline-block;
		height: 38px;
		margin: 10px 10px 0px 10px;
		padding-bottom: 10px;
		line-height: 30px;
		cursor: pointer;
		font-size: 18px;
		font-weight: 700;
		color: #777;
		user-select: none;

		transition: all 200ms ease;
		-webkit-transition: all 200ms ease;
		-moz-transition: all 200ms ease;
		-o-transition: all 200ms ease;
	}
		.nav-item:hover {
			border-bottom: 2px solid #333;
			color: #333;
		}
		.nav-item-active {
			border-bottom: 2px solid #444;
			color: #444;
		}

.content {
	position: relative;
	display: block;
}

.frame {
	position: relative;
	display: none;
	width: 100%;
	margin: 50px auto 0px auto;
}
	.frame-active {
		display: block;
		animation: DisplayFrame 300ms both;
	}

.c800 {
	position: relative;
	width: 95%;
	max-width: 800px;
	margin: 0px auto;
	padding: 20px 0;
}

.hero-main {
	position: relative;
	width: 100%;
	padding: 100px 0 80px;
	background: url("./assets/images/hero-bg.jpg");
	background-size: cover;
	background-position: center center;
}
	.hero-title {
		display: block;
		text-align: center;
		font-size: 64px;
		font-weight: 900;
		color: #FFF;
		text-shadow: 2px 3px 0px #444, 0px 0px 1px #444;
		user-select: none;
	}
	.hero-subtitle {
		display: block;
		text-align: center;
		margin-top: 5px;
		font-size: 20px;
		color: #FFF;
		text-shadow: 0px 0px 2px #444;
		user-select: none;
	}
	.hero-main button {
		display: block;
		margin: 10px auto 0;
	}

.hero-intro-left {
	display: block;
	text-align: left;
	margin: 10px 0;
	font-size: 20px;
	font-weight: 900;
	color: #444;
}

.hero-pro-list {
	position: relative;
	display: block;
	width: 100%;
	overflow-x: auto;
	white-space: nowrap;
}
	.hero-pro-panel {
		position: relative;
		display: inline-block;
		margin: 0 10px;
		width: 200px;
		height: 260px;
		background: #DAC9A6;
		border-radius: 5px;
		overflow: hidden;
	}

	.hero-pro-panel:first-child {
		margin-left: 0;
	}
	.hero-pro-avatar {
		position: relative;
		display: block;
		width: 200px;
		height: 200px;
		background: url("./assets/images/hero-avatar.png");
		background-size: cover;
		background-position: center center;
	}
	.hero-pro-name {
		display: block;
		font-size: 20px;
		font-weight: 900;
		line-height: 20px;
		text-align: center;
	}
	.hero-pro-type {
		display: block;
		font-size: 16px;
		font-weight: 500;
		margin-top: 10px;
		line-height: 16px;
		text-align: center;
		color: #444;
	}
	.hero-to-pro-link {
		display: inline-block;
		margin: 10px 0;
	}

.pro-list, .app-list {
	position: relative;
	display: block;
	border: 1px solid #CCC;
	border-radius: 5px;
	overflow: hidden;
}
	.pro-item, .app-item {
		position: relative;
		display: block;
		width: 100%;
		height: auto;
		min-height: 41px;
		border-bottom: 1px solid #CCC;
	}
	.pro-item:hover {
		background: #EEE;
	}
		.pro-item:last-child, .app-item:last-child {
			border: none;
			min-height: 40px;
		}
		.app-item span:first-child {
			position: absolute;
			display: block;
			right: 5px;
			top: 0;
			width: auto;
			padding: 0 15px;
			height: 30px;
			line-height: 32px;
			font-size: 16px;
			font-weight: 900;
			color: #FFF;
			border-radius: 15px;
			text-align: center;
			background: #FF6666;
			border: none;
			cursor: pointer;
			user-select: none;
			z-index: 99;
		}
			.app-item span:first-child:hover {
				background: #FF3333;
			}
		.pro-item span, .app-item span {
			margin: 5px 0;
			padding: 0 10px;
			display: inline-block;
			position: relative;
			line-height: 30px;
			font-size: 16px;
			border-right: 1px solid #CCC;
		}
			.pro-item span:last-child, .app-item span:last-child {
				border: none;
			}
			.pro-name {
				font-weight: 900;
				width: 35%;
			}
			.pro-type {
				width: 35%;
			}
			.pro-rate {
				width: 30%;
			}
			.app-dateTime {
				width: 40%;
			}
			.app-duration {
				width: 20%;
			}
			.app-pro {
				font-weight: 900;
				width: 40%;
			}

.user-title {
	display: block;
	font-size: 20px;
	font-weight: 900;
}
.info-table {
	display: block;
	height: auto;
	width: 100%;
	max-width: 600px;
	margin: 10px 0;
}
	.info-row {
		display: block;
		width: 100%;
		height: auto;
		min-height: 30px;
	}
		.info-key, .info-value {
			display: inline-block;
			font-size: 16px;
			line-height: 20px;
			margin: 5px 0;
		}
		.info-key {
			width: 120px;
			font-weight: 900;
		}

.footer {
	background: #0F2540;
}
	.footer .c800 {
		text-align: center; 
		color: #FFF; 
		font-size: 12px;
	}

.login-input {
	display: block;
	height: 40;
	margin: 5px 0;
	width: 300px;
	padding: 0 20px;
	font-size: 20px;
	font-weight: 900;
	line-height: 38px;
	left: 0;
	border: none;
	border-bottom: 2px solid #CCC;
	outline: none;
}
	.login-input:focus {
		outline: none;
		border-bottom: 2px solid #ED784A;
	}

.note {
	color: #FF9494;
}

.grid-input {
	outline: none;
	border: none;
	border-bottom: 1px solid #CCC;
}
	.grid-input:focus {
		border-bottom: 1px solid #ED784A;
	}
	.grid-input:disabled {
		outline: none;
		border: none;
	}

.hidden {
	display: none;
}